{% extends 'store/layouts/main.html' %}

{% block content %}

<div class="py-3 bg-primary">
    <div class="container">
        <a class="text-white" href="{% url 'home' %}"> Главная </a>
        /
        <a class="text-white" href="{% url 'myorders' %}"> Просмотр заказа </a>
        /
        <a class="text-white" href="">{{ order.tracking_no }}</a>
    </div>
</div>

<div class="container mt-3">
    <!--{% csrf_token %}-->
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3>Просмотр заказа </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Информация по доставке: </h4>
                            <hr>
                            <label class="mt-2">Имя</label>
                            <div class="border p-2">{{ order.fname }}</div>
                            <label class="mt-2">Фамилия</label>
                            <div class="border p-2">{{ order.lname }}</div>
                            <label class="mt-2">Email</label>
                            <div class="border p-2">{{ order.email }}</div>
                            <label class="mt-2">Номер телефона</label>
                            <div class="border p-2">{{ order.phone }}</div>
                            <label class="mt-2">Адрес</label>
                            <div class="border p-2">
                                {{ order.area }},
                                {{ order.city }},
                                {{ order.adress }},
                                {{ order.housenum }},
                                {{ order.flatnumb }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                             <h4>Данные о заказе: </h4>   
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Количество</th>
                                        <th>Цена</th>
                                        <th>Изображение</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in orderitems %}
                                        <tr>
                                            <td>{{ item.product.name }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price | stringformat:'d' }} Руб.</td>
                                            <td>
                                                <img src="{{ item.product.product_image.url }}" height="50px" weight="50px" alt="Product Image">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <h4>Общая стоимость: <span class="float-end"> {{ order.total_price | stringformat:'d' }} руб. </span> </h4>
                            
                            <h6>Вид оплаты: {{ order.payment_mode }}</h6>
                            <h6>Статус заказа: {{ order.status }}</h6>   
                            <h6>Трэк номер: {{ order.tracking_no }}</h6>
                            <div class="container2">
                                <form action="/payment/" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="tracking_no" value="{{ order.tracking_no }}">      
                                    <input href="{% url 'payment' %}" type="submit" class="submit-btn" value="Оплатить">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}